.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #ffb9e9;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #8c3370;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 33px;
  width: 183px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1025px;
  top: 30px;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.homepage {
  color: #8c3370;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.about {
  color: #8c3370;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.contact {
  color: #8c3370;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-7 {
  width: 1122px;
  height: 430px;
  position: absolute;
  left: 58px;
  top: 293px;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1348px;
  height: 119px;
  position: absolute;
  left: 27px;
  top: 0px;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame-6 {
  width: 1122px;
  height: 254px;
  position: absolute;
  left: 0px;
  top: 176px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-many-student-take-bmgt-407-directly-after-bmgt-403-and-continue-to-build-onto-their-existing-projects-to-implement-them-in-the-real-world {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 0px;
  width: 1068px;
  height: 108px;
}
.professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2026 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 184px;
  width: 1068px;
  height: 116px;
}
